body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#game-canvas {
    position: relative;
    border: 1px solid black;
    margin: 0px 0;
}

.room-wrapper {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.game-room-player-wrapper {
    border-right: 1px solid #ccc;
    line-height: 40px;
    text-align: center;
}

.game-room-btn {
    margin-left: 5px;
}

.create-room-btn {
    margin-left: 15px;
}

#players-health-wrapper {
    font-weight: bold;
    font-size: 34px;
}

#player1-health {
    color: darkred;
    margin-left: 15px;
}

#player2-health {
    color: forestgreen;
    margin-left: 605px;
}