
@{
    ViewBag.Title = "Game";
}

<br>
<table class="table table-bordered">
    <tbody id="rooms-table"></tbody>
</table>

<canvas id="game-canvas" width="766" height="351"></canvas>
<div class="row" id="players-health-wrapper">
    <div id="player1-health" class="col-sm-1"></div>
    <div id="player2-health" class="col-sm-1 col-sm-offset-9"></div>
</div>

<div id="game-message-block"></div>

<input id="gameBgUrl" type="hidden" value="~/Content/game/bg.bmp" />
<input id="player1Url" type="hidden" value="~/Content/game/player1.png" />
<input id="player2Url" type="hidden" value="~/Content/game/player2.png" />

<script src="~/Scripts/easeljs-0.8.2.min.js"></script>
<script src="~/app/gameRoomsManagement.js"></script>
<script src="~/app/main.js"></script>